.addProject_button{
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    width: 5rem;
    transform: translateX(12rem);
    width: 8rem;
    height: 2.5rem;
}


/* .project_modal{
    position: fixed;
    overflow: auto;
    z-index: 20;
    backdrop-filter: blur(1px);
    height: 30rem;
    width: 30rem;
    transform: translate(0, 10rem);
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: aliceblue;

} */

.project_modal{
    position: fixed;
    overflow: auto;
    z-index: 20;
    backdrop-filter: blur(1px);
    height: 30rem;
    width: 30rem;
    transform: translate(0, 10rem);
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: aliceblue;
    bottom: 2rem;
    left: 32rem;
    right: 2rem;
    top: 2rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;   
}

.project_cross{
    cursor: pointer;
    font-size: 2rem;
    transform: translateX(12rem);
    
}

.project_tab{
    background-color: #727578;
    height: 2rem;
    width: full;
    border-bottom: solid;
}

.add_project_form{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    gap: 1.5rem;
}

.title_div{
    display: flex;
    flex-direction: column;
}

.add_project_text_title{
    font-size: 1.5rem;
    font-weight: 200;
    margin-left: 4rem;
    transform: translateX(-9rem);    
}

.add_project_text_description{
    font-size: 1.5rem;
    font-weight: 200;
    margin-left: 4rem;
    transform: translateX(-6.9rem); 
}


.add_project_text_url{
    font-size: 1.5rem;
    font-weight: 200;
    margin-left: 4rem;
    transform: translateX(-7.1rem); 
}


.project_title{
    border: 3px solid #000;
    border-radius: 5px;
    height: 50px;
    line-height: normal;
    color: #282828;
    display: block;
    width: 15rem;
    height: 2.5rem;
    box-sizing: border-box;
    user-select: auto;
    font-size: 16px;
    padding: 0 6px;
    padding-left: 12px;
    transform: translateX(6rem);
}